@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    min-height: 100vh;
    background-color:  hsl(275, 100%, 97%);
}

.background-pattern-dekstop{
    width: 100%;
    height: 100%;
    max-height: 320px;
    background-image: url(../assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
}

.content-container{
    width: 100%;
    max-width: 600px;
    max-height: 900px;
    padding: 8px 0;
    position: absolute;
    top: 200px;
    margin: 0 auto ;
    align-self: center;
  
}

.faq-container{
    max-width: 600px;
    max-height: 565px;
    background-color: hsl(0, 100%, 100%);
    padding: 40px 40px;
    overflow-y: auto; /* for scrollability */
    border-radius: 10px;
}

.header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}

.header h1{
    color: hsl(292, 42%, 14%);
    font-weight: 700;
}

.faq-container-content p{
    color: hsl(292, 42%, 14%);
    font-size: 14px;
    font-weight: 700;
   
}

.faq-question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;;
}





.attribution { 
    font-size: 11px; text-align: center;    
    position: absolute;
    top: 112%;
}
.attribution a { color: hsl(228, 45%, 44%); }